:root {
  --white: #fff;
  --black: #000;
  --overlay-bg-color: rgba(0 0 0 / 50%);
  --error: #ef5350;
  --primary-fallback: #023047;
  --color-fallback: #fff;
  --grey-base: #767676;
  --card-bg: #fff;
  --desert-storm: #f7f7f7;
  --seashell: #f0f0f0;
  --mountain-mist: #909090;
  --night-sky: #1f2246;
  --mine-shaft: #333;
  --palatinate-blue: #5E69EE;
  --lynx-screen-blue: #39AFEA;
  --aquamarine: #74BDCB;
  --salmon: #FFA384;
  --rolling-stone: #6F7577;
}
