@import "reset";
@import "colors";
@import "variables";
@import "tooltip";
@import "./themes/light";
@import "./themes/dark";

html {
  font-size: 16px;
}

body {
  height: 100vh;
}

#root {
  height: 100%;
}

.app-page {
  height: 100%;
  overflow: auto;
}

.app-error {
  &-container {
    height: 20px;
    line-height: 20px;
  }

  &-message {
    font-size: 14px;
    color: var(--error);
  }
}

.app-card {
  max-width: var(--layout-feed-max-width);
  margin: 0 auto;
  padding: var(--gap);
  background-color: var(--white);
}