* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: none;

  & ~ & {
    margin-left: var(--half-gap);
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}