%popover {
  font-size: 12px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 1px;
  color: var(--white);
  max-width: 405px;
  width: max-content;
  line-height: normal;
  padding: 6px 8px;
  background-color: var(--night-sky);
  border: none;
  box-shadow: none;
  border-radius: 4px;
  z-index: var(--z-index--popover);
  white-space: normal;
  word-break: break-word;
}

@mixin dataTooltip() {
  --tooltip-top: -28px;
  --tooltip-right: 8px;
  --tooltip-bottom: auto;
  --tooltip-left: auto;

  position: relative;

  &::after {
    content: attr(data-tooltip);

    @extend %popover;

    opacity: 0;
    visibility: hidden;
    position: absolute;
    inset: var(--tooltip-top) var(--tooltip-right) var(--tooltip-bottom) var(--tooltip-left);
    pointer-events: none;
    transition: visibility 0s 1s linear, opacity 0.3s ease;
  }

  &:hover::after {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s 0.6s ease-in;
  }
}

.with-tooltip {
  @include dataTooltip;
}