:root {
  --font-family: arial, sans-serif;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 22px;
  --gap: 20px;
  --double-gap: 40px;
  --half-gap: 8px;
  --navbar-height: 64px;
  --sidbar-width: 300px;
  --sidbar-width-collapsed: 80px;
  --control-height: 38px;
  --border-radius: 4px;
  --modal-z-index: 10;
  --z-index--popover: 1000;
  --layout-feed-max-width: 768px;
  --layout-sidebar-collapsed: 1024px;
}
