.select {
  &.readonly {
    pointer-events: none;
  }

  &-label {
    display: block;
    text-transform: capitalize;
    margin-bottom: var(--half-gap);
  }

  &-wrapper {
    font-size: var(--font-size-m);
    width: 100%;
    height: var(--control-height);
    background-color: var(--white);
    border-color: var(--grey-base);
    border-style: solid;
    border-width: 1.5px;
    border-radius: var(--border-radius);
    cursor: pointer;
    position: relative;

    &:hover {
      border-color: var(--contrast-bg-color);

      &::after {
        opacity: 1;
      }
    }

    &::after {
      content: "";
      display: block;
      width: 4px;
      height: 4px;
      border: solid var(--grey-base);
      border-width: 0 2px 2px 0;
      padding: 2px;
      transform: rotate(45deg);
      position: absolute;
      top: 10px;
      right: 14px;
      opacity: 0.6;
    }
  }

  &-select {
    font-family: inherit;
    font-size: inherit;
    width: 100%;
    height: 100%;
    padding-right: var(--gap);
    padding-left: var(--gap);
    background-color: transparent;
    outline-color: var(--contrast-bg-color);
    border: none;
    cursor: inherit;
    appearance: none;
  }
}