@mixin collapsed-state {
  width: var(--sidbar-width-collapsed);

  .sidebar-link-text {
    width: 0;
    opacity: 0;
  }

  .sidebar-footer {
    flex-direction: column;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: var(--sidbar-width);
  background-color: var(--contrast-bg-color);
  transition: width 280ms ease-in-out;

  @media (width <= 1024px) {
    @include collapsed-state;

    .sidebar-toggle {
      display: none;
    }
  }

  &-link {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 20px;
    overflow: hidden;
  }

  &-link-icon {
    display: inline-block;
    text-align: center;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    margin-left: 8px;
    flex-shrink: 0;

    [class^="about"] {
      height: 24px;
    }
  }

  &-link-text {
    white-space: nowrap;
    transition: all 200ms linear 100ms;
  }

  &-footer {
    display: flex;
    align-items: center;
    gap: 10px 20px;
    margin-top: auto;
    padding: 20px;
  }

  &-toggle {
    font-size: 0;
    width: 32px;
    height: 32px;
    margin-left: auto;

    &.with-tooltip {
      --tooltip-right: auto;
    }
  }

  &-toggle-icon {
    transform: rotate(180deg);

    .collapsed & {
      transform: rotate(0);
    }
  }

  &-theme-toggle.with-tooltip {
    --tooltip-top: -28px;
    --tooltip-right: auto;
    --tooltip-bottom: auto;
    --tooltip-left: 8px;
  }
}

.collapsed {
  @include collapsed-state;
}
