.article-list {
  &-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.scroll  {
  .article-list {
    &-card {
      margin-bottom: var(--gap);
    }
  }
}

.gallery {
  .article-list {
    &-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: var(--gap);
      max-width: var(--layout-feed-max-width);
      margin: 0 auto;
    }
  }
}