.article-sort-filter {
  display: flex;
  align-items: center;
  gap: var(--gap);
  flex-basis: 160px;

  &-select {
    .select-label {
      font-size: 0;
      margin-bottom: 0;
    }

    &.sort {
      flex-basis: 160px;
    }
  }

  &-toggle {
    --tooltip-top: -22px;
  }
}