.article-list-view-controls {
  &-line {
    display: flex;
    align-items: center;
    gap: var(--gap);
    max-width: var(--layout-feed-max-width);
    margin: var(--gap) auto;
    padding-right: var(--gap);
    padding-left: var(--gap);
  }

  &-search {
    flex: 1 0;

    .input-label {
      font-size: 0;
      margin-bottom: 0;
    }
  }
}