.article-list-container {
  --toggle-height: 60px;

  height: 100%;

  &-toggle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: var(--toggle-height);
    margin-right: var(--gap);
    margin-left: var(--gap);
  }

  &-section {
    height: calc(100% - var(--toggle-height));
  }
}