.profile-card {
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-list {
        margin-right: auto;
        margin-left: auto;
    }

    &-item {
        max-width: 400px;
        margin: var(--half-gap) auto;
    }
}