.page {
  height: 100%;
  overflow-y: auto;

  &-trigger {
    text-align: center;
    font-weight: 400;
    letter-spacing: 1.3px;
    color: var(--contrast-color);
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(31 34 70 / 95%);

    .loading-completed  & {
      opacity: 0;
      transition: opacity 5s ease-in-out;
    }
  }
}
