.comment-card {
  margin-top: var(--gap);
  margin-bottom: var(--gap);

  &-header {
    display: flex;
    align-items: center;
    gap: var(--half-gap)
  }

  &-avatar {
    width: 28px;
  }

  &-username {
    font-size: 14px;
    font-weight: 700;
    color: var(--mine-shaft);
  }

  &-createdAt {
    font-size: 12px;
    color: var(--mountain-mist);
  }

  &-text {
    font-size: 15px;
    line-height: 1.4;
    color: var(--mine-shaft);
  }
}