.comment-input {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;

  &-control {
    .input-label {
      font-size: 0;
    }

    .input-input {
      padding-right: 100px;
    }
  }

  &-submit {
    position: absolute;
    top: 13px;
    right: 8px;
  }
}