.app-router {
  &-suspense {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100%;
  }

  &-loader {
    color: var(--contrast-bg-color);
    width: 80px;
    height: 80px;
  }
}
