.not-found-page {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-l);
  text-transform: capitalize;
  line-height: 1.5;
  height: 100%;
  margin-bottom: 60px;
}