.app-light-theme {
  --bg-color: var(--seashell);
  --contrast-bg-color: var(--palatinate-blue);
  --primary: var(--lynx-screen-blue);
  --color: var(--mine-shaft);
  --contrast-color: var(--white);
}
