.app {
  font-family: var(--font-family);
  font-size: var(--font-size-m);
  color: var(--color);
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);

  &-page-container {
    display: flex;
    height: calc(100vh - var(--navbar-height));
  }

  &-page-content {
    height: 100%;
    flex-grow: 1;
  }
}
