.article-list-item {
  color: inherit;
  border-radius: 8px;
  background: var(--card-bg);

  &-eye {
    width: 26px;
    margin-left: auto;
    margin-right: 2px;
  }
}

.scroll {
  .article-list-item {
    &-article {
      max-height: 600px;
      padding: 0;
    }

    &-image {
      width: 100%;
      height: 300px;
      margin-bottom: var(--half-gap);
    }

    &-title {
      font-size: 24px;
      font-weight: 600;
      line-height: 1.3;
      text-align: center;
    }

    &-subtitle {
      font-size: 13px;
      font-weight: 600;
      color: var(--rolling-stone);
      line-height: 1.3;
      text-align: center;
    }

    &-created,
    &-views {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: var(--rolling-stone);
    }

    &-created {
      margin-left: var(--half-gap);
    }

    &-eye {
      width: 28px;
      margin-right: 2px;
      color: var(--rolling-stone);
    }

    &-calendar {
      width: 20px;
      margin-right: 6px;
      margin-left: 2px;
      color: var(--rolling-stone);
    }

    &-textBlock {
      max-height: 200px;
      overflow-y: hidden;
    }

    &-footer {
      display: flex;
      align-items: center;
      margin-top: 16px;
    }
  }
}

.gallery {
  .article-list-item {
    width: 230px;
    transition: 0.2s;
    cursor: pointer;
    opacity: 0.8;
    padding: 12px;

    &:hover {
      opacity: 1;
      transform: scale(1.01);

      .article-list-item-created {
        display: block;
      }
    }

    &-number {
      font-size: 12px;
      margin-bottom: 8px;
    }

    &-created {
      font-size: 12px;
      position: absolute;
      right: 0;
      top: 0;
      display: none;
    }

    &-container {
      width: 200px;
      height: 220px;
      position: relative;
    }

    &-img {
      width: 200px;
      height: 200px;
      object-fit: cover;
    }

    &-info {
      font-size: 12px;
      display: flex;
      align-items: center;
      margin-top: 8px;
    }

    &-types {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-title {
      margin-top: 8px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
