.navbar {
  display: flex;
  align-items: center;
  gap: 20px;
  height: var(--navbar-height);
  padding-right: 32px;
  padding-left: 32px;
  background-color: var(--contrast-bg-color);

  &-theme-toggle {
    margin-left: auto;

    &.with-tooltip {
      --tooltip-top: auto;
      --tooltip-bottom: -28px;
    }
  }

  &-user {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    width: 30px;
    height: 30px;
    background-color: var(--mine-shaft);
    border-radius: 50%;

    &.with-tooltip {
      --tooltip-top: auto;
      --tooltip-right: auto;
      --tooltip-bottom: -28px;
    }
  }
}

