$transitionDuration: 280ms;

.modal {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    transition-property: z-index, width, height;
    transition-delay: $transitionDuration;

    &.open {
        width: 100vw;
        height: 100vh;
        z-index: var(--modal-z-index);
        transition-property: none;
    }

    &-overlay {
        width: 100%;
        height: 100%;
        background-color: var(--overlay-bg-color);
        opacity: 0;
        transition: opacity $transitionDuration;

        .open & {
            opacity: 1;
        }
    }

    &-content {
        max-width: 60%;
        max-height: 80%;
        background-color: var(--white);
        border-radius: var(--border-radius);
        margin: 0;
        overflow: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity $transitionDuration;

        .open & {
            opacity: 1;
        }
    }
}