.input {
    &.readonly {
        pointer-events: none;
    }

    &-label {
        display: block;
        text-transform: capitalize;
        margin-bottom: var(--half-gap);
    }

    &-tip {
        font-size: 13px;
        color: var(--mountain-mist);
        text-transform: none;
    }

    &-input {
        font-size: var(--font-size-m);
        width: 100%;
        height: var(--control-height);
        padding-right: var(--gap);
        padding-left: var(--gap);
        border-color: var(--grey-base);
        border-style: solid;
        border-width: 1.5px;
        border-radius: var(--border-radius);

        &:hover {
            border-color: var(--contrast-bg-color);
        }

        &:focus {
            outline-color: var(--contrast-bg-color);
        }
    }
}