.article-block-image {
  text-align: center;
  margin-top: var(--gap);

  &-caption {
    color: var(--mountain-mist);
    font-size: .8125rem;
    line-height: 1.125rem;
    margin-top: 4px;
    text-align: center;
    white-space: pre-wrap;
  }

  &-image {
    width: 100%;
  }
}