.article-container {
  height: 100%;
  padding-top: var(--gap);
  overflow: auto;

  &-error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &-loading {
    width: var(--layout-feed-max-width);
  }

  &-title,
  &-subtitle {
    align-self: center;
  }
}