.article-block-text {
  &-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5rem;
    margin-top: var(--gap);
  }

  &-paragraph {
    margin-top: var(--gap);
    line-height: 1.5rem;
    white-space: pre-line;
  }
}