.article-block-code {
  background: var(--desert-storm);
  border: 1px solid var(--seashell);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: .875rem;
  line-height: 1.6;
  margin-top: var(--gap);
  padding: var(--gap);
  tab-size: 4;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  position: relative;

  &-copy {
    width: 20px;
    opacity: 0.7;
    position: absolute;
    top: var(--half-gap);
    right: var(--half-gap);

    &:hover {
      opacity: 1;
    }
  }
}