.article {
  display: flex;
  flex-direction: column;
  gap: var(--half-gap);

  &-image {
    width: 100%;
    height: 300px;
    margin-bottom: var(--half-gap);
  }

  &-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3;
    text-align: center;
  }

  &-subtitle {
    font-size: 13px;
    font-weight: 600;
    color: var(--rolling-stone);
    line-height: 1.3;
    text-align: center;
  }

  &-createdAt,
  &-views {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--rolling-stone);
  }

  &-eye {
    width: 28px;
    margin-right: 2px;
    color: var(--rolling-stone);
  }

  &-calendar {
    width: 20px;
    margin-right: 6px;
    margin-left: 2px;
    color: var(--rolling-stone);
  }
}