.recommendations {
  margin-top: var(--gap);

  &-list {
    display: flex;
    gap: var(--gap);
    max-width: 100%;
    margin-top: var(--gap);
    padding-top: var(--half-gap);
    padding-bottom: var(--half-gap);
    padding-left: var(--half-gap);
    background-color: var(--seashell);
    overflow-x: scroll;
  }
}