.skeleton {
  --skeleton-color: #f2f2f2;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  width: 100%;
  height: 50px;
  position: relative;
  background-color: var(--white);
  box-shadow: 0 2px 10px 0 var(--skeleton-shadow);
  overflow: hidden;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
    height: 100%;
    width: 80%;
    background: linear-gradient(to right, transparent 0%, var(--skeleton-color) 50%, transparent 100%);
    animation: load 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }

  & + & {
    margin-top: var(--gap);
  }
}

@keyframes load {
  from {
    left: -150px;
  }

  to {
    left: 100%;
  }
}
