.login-form {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    width: 360px;
    margin-top: var(--gap);
    padding: var(--double-gap) var(--gap);

    &-header {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}